AWSTemplateFormatVersion: "2010-09-09"

Parameters:
  HostedZoneName:
    Description: domain name.
    Type: String

Resources:
  Route53HostedZone:
    Type: AWS::Route53::HostedZone
    Properties:
      Name: !Sub "${HostedZoneName}"
  route53RSGroup:
    Type: AWS::Route53::RecordSetGroup
    Properties:
      HostedZoneId: !Ref Route53HostedZone
      RecordSets:
        - Name: !Sub "www.${HostedZoneName}."
          AliasTarget:
            HostedZoneId: !ImportValue InternetALBHostZoneId
            DNSName: !ImportValue InternetALBEndpoint
          Type: A
